@inject IJSRuntime JSRuntime

@page "/"

@using Telegram.Bot
@using Telegram.Bot.Exceptions
@using Telegram.Bot.Types

<PageTitle>Speaker</PageTitle>

<h1>Speaker</h1>
<p>Value: @value</p>

@code {
    private string value = "";

    private Task task;

    protected override async Task OnInitializedAsync()
    {
        task = Task.Run(async () =>
        {
            while (true)
            {
                await JSRuntime.InvokeVoidAsync("speakText", "20.2");
                await Task.Delay(5000);
            }
        });
    }
}
